body {
    font-family: 'Plus Jakarta Sans', sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
}

/* Navbar */
.navbar {
    height: 5rem;
}

.fa-joomla {
    color: #E5383B;
    font-size: 2rem;
}

.nav-link {
    color: #0B090A !important;
    font-size: 1.25rem !important;
}

.nav-link:hover {
    text-decoration: underline !important;
}

/* Footer */
.f-info {
    text-align: center;
    height: 7rem;
    background-color: #F5F3F4;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

.f-info-socials, .f-info-text, .f-info-links {
    width : 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.f-info-socials i {
    font-size: 1.2rem;
    margin-right: 1.5rem;
}

.f-info-text { 
    font-size: 1.3rem;
}

.f-info-links a {
    margin-right: 1.5rem;
}

.f-info a {
    text-decoration: none;
    color : #171314;
}

.f-info a:hover {
    color: #E5383B;
    text-decoration: underline;
}

/* Cards */
.card {
    margin-bottom: 2rem;
    border: none !important;
    background-color: #FDFDFD !important;
}

/* .card:hover {
    background-color: #e0e0e03f !important;
} */

.card-img-top {
    border-radius: 0.7rem !important;
    width: 100%;
    height: 20rem !important;
}

.card-body {
    padding: 0 !important;
    margin-left: 10px;
    margin-bottom: 4px;
}

.card-text p {
    font-weight: 400 !important;
    text-decoration: none !important;
}

.card-link {
    text-decoration: none !important;
}

.card-img-overlay {
    opacity: 0;
}

.card-img-overlay:hover {
    opacity: 0.5;
    background-color: #e0e0e064;
}

/* Buttons */
.btn {
    background-color : #E5383B !important;
    border: none !important;
}