.navbar {
    height: 5rem;
}

.fa-joomla {
    color: #E5383B;
    font-size: 2rem;
}

.nav-link {
    color: #0B090A !important;
    font-size: 1.25rem !important;
}

.nav-link:hover {
    text-decoration: underline !important;
}

.f-info {
    text-align: center;
    height: 7rem;
    background-color: #F5F3F4;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

.f-info-socials, .f-info-text, .f-info-links {
    width : 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.f-info-socials i {
    font-size: 1.2rem;
    margin-right: 1.5rem;
}

.f-info-text {
    font-size: 1.3rem;
}

.f-info-links a {
    margin-right: 1.5rem;
}

.f-info a {
    text-decoration: none;
    color : #171314;
}

.f-info a:hover {
    color: #E5383B;
    text-decoration: underline;
}